<!--<div class="promo">-->
<!--  <div class="slide">-->
<!--    <div class="slide-bg">-->
<!--      <img src="https://image.tmdb.org/t/p/original/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg" alt="#">-->
<!--    </div>-->

<!--    <div class="slide-pane">-->
<!--      <h2 class="name">Black Adam</h2>-->
<!--      <div class="meta">-->
<!--        <div class="info">-->
<!--          <span class="rating">-->
<!--            <span class="my-icon" >Star </span><span class="rating-value" > 6.8 </span><span> / 10 | </span>-->
<!--            <span>400 review | </span>-->
<!--            <span>2022</span>-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="desc">-->
<!--        Nearly 5,000 years after he was bestowed with the almighty powers of the Egyptian gods—and imprisoned just as quickly—Black Adam is freed from his earthly tomb, ready to unleash his unique form of justice on the modern world.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="intro">
  <div class="intro__media">
    <video src="./assets/videos/video{{movieId}}.mp4" autoplay [muted] = "'muted'" loop ></video>
  </div>

  <div class="intro__content">
    <h2>Welcome</h2>
  </div>
</div>
