.movies {
  padding: 10px;

  &-topic {
    margin: 0 0 10px 10px;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(39,39,39,0.85);
    z-index: 20;
    &-column {
      border-radius: 4px;
      margin: 4px 10px;
    }
  }
}
