
.movie-promo {
  .big-post {
    img {
      display: block;
      margin: 0 auto;
      width: 1400px;
      height: 500px;
      object-fit: cover;
    }
  }
}

.content {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(209 221 255 / 95%);
  font-size: 17px;


  &-poster {
    img {
      display: block;
      border-radius: 7px;
      height: 400px;
      width: auto;
    }

    button {
      display: block;
      margin: 5px auto auto;
      width: 90%;
      height: 3rem;
      border-radius: 6px;
      background-color: rgba(171, 0, 8, 0.59);
      border: 1px #ab0008 solid;
      outline: unset;
      font-size: 24px;

      &:hover {
        transition: all .3s;
        background-color: #ab0008;
        border: 1px grey solid;

      }
    }
  }

  &-description {
    margin-left: 200px;
    width: 500px;

    &-line {
      display: flex;
      width: 300px;
      justify-content: space-between;
      line-height: 22px;

      .toLeft {
        width: 150px;
      }

      .toAlignItems {
        display: flex;
        align-items: center;

        .my-icon {
          color: #ffda02;
          font-size: 17px;
        }
      }
    }

    .overview {
      margin-top: 20px;
      width: 450px;
      font-size: 17px;
      font-style: italic;
      line-height: 22px;
    }
  }

  &-images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 300px;

    .content-images {
      img {
        margin-bottom: 5px;
        height: 120px;
        width: 200px;
        object-fit: cover;
        border-radius: 4px;
      }
    }
  }
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &-images {
    margin: 0 10px;

    img {
      border-radius: 5px;
      padding: 5px;
      background-color: rgba(255, 255, 249, 0.61);
      width: 130px;
      height: 65px;
    }
  }
}

.actors {
  h2 {
    margin-left: 20px;
  }

  &-wrapper {
    display: flex;
    justify-content: center;

    &-info {
      margin: 0 18px;
      text-align: center;

      .character {
        font-style: italic;
        color: rgba(202, 202, 202, 0.86);
      }

      .originalName {
        font-size: 19px;
      }

      img {
        height: 220px;
        width: 150px;
        object-fit: cover;
      }
    }
  }
}

.wrapper {
  .similar-header{
    margin: 10px auto 0 20px;
  }
  .similar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.reviews {
  position: relative;
  width: 1400px;
  display: block;
  margin: auto;

  &-image {
    width: 1400px;
    height: 500px;
    display: block;
    margin: 0 auto;

    img {
      display: block;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-btn {
    position: fixed;
    top: 1%;
    left: 1%;
    margin: 5px auto auto;
    width: 150px;
    height: 3rem;
    border-radius: 6px;
    background-color: rgba(171, 0, 8, 0.59);
    border: 1px #ab0008 solid;
    font-size: 24px;
    outline: unset;
    z-index: 20;

    &:hover {
      transition: all .3s;
      background-color: #ab0008;
      border: 1px grey solid;

    }
  }

  &-content {
    margin-top: 40px;

    &-review {
      width: 900px;
      margin-top: 10px;
      padding: 15px 15px 15px 35px;
      border: 1px grey solid;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rate {
          margin-right: 20px;
          display: flex;
          align-items: center;

          .my-icon {
            color: #ffda02;
          }

        }
      }

      .date {
        text-align: right;
        font-style: italic;
        margin-top: 15px;
      }
    }
  }
}
