header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgba(39,36,36,0.2);
  padding: 3px 10px;
  border-bottom: 1px rgba(64,61,61,0.95) solid;
  .navbar{
      display: flex;
    &-links {
      display: flex;
      justify-content: space-around;
      list-style: none;
      text-decoration: none;
      width: 290px;
      li{
        margin: 0 8px;
        display: flex;
        align-items: center;
        font-size: 17px;
        a{
          color: rgba(194,210,255,0.95);
        }
      }
    }

    &-logo {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}

.active {
  text-transform: uppercase;
}
