
.movie-item {
  display: block;
  position: relative;
  height: 15.5rem;
  width: 12rem;
  padding: 5px 0 0;
  border: 1px #434040 solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(42, 40, 40, 0.55);
  color: rgba(194, 210, 255, 0.95);
  cursor: pointer;
  margin-bottom: 24px;

  .content {
    height: 92%;
  }

  &-rating {
    position: absolute;
    display: none;
    align-items: center;
    padding: 1px 2px;
    top: 5px;
    background-color: rgba(39, 39, 39, 0.7);
    border-radius: 4px;
    z-index: 20;

    .my-icon {
      color: #ffda02;
    }
  }

  &-image {
    height: 93%;
    width: 100%;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin: 0 auto;
    }
  }

  &-overview {
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 1;
    display: none;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      background-color: rgba(0, 0, 0, 0.8);
      z-index: -1;
    }
  }

  &-title {
    padding: 0 8px;
    border-radius: 4px;
    height: 35px;
    display: flex;
    align-items: center;
  }

  &-cartBtnRed {
    position: absolute;
    display: none;
    bottom: -26px;
    width: 100%;
    height: 1.6rem;
    background-color: rgba(171, 0, 8, 0.59);
    border: 1px #ab0008 solid;
    font-size: 20px;
    outline: unset;

    &:hover {
      transition: all .3s;
      background-color: #ab0008;
      border: 1px grey solid;
    }
  }

  &-cartBtnGreen {
    position: absolute;
    display: none;
    bottom: -25px;
    width: 100%;
    height: 1.6rem;
    border: 1px #00c711 solid;
    font-size: 20px;
    outline: unset;
    background-color: rgba(10, 208, 0, 0.62);

    &:hover {
      transition: all .3s;
      background-color: rgba(10, 208, 0);
      border: 1px grey solid;
    }
  }

  &:hover {
    transition: all .5s;
    scale: 1.05;
    z-index: 20;

    .movie-item-rating {
      display: flex;
    }

    .movie-item-cartBtnRed, .movie-item-cartBtnGreen {
      display: block;
    }

    .movie-item-overview {
      display: block;
    }
  }
}

.bigPostsForMovies {
  height: 20rem;
  width: 17rem;

  .movie-item {
    &-image {
      height: 99%;
    }

    &-title{
      height: 30px;
    }
  }


}

.bigTitle {
  font-size: 17px;
  display: flex;
  align-items: center;
}

