
.movie-item {
  display: block;
  position: relative;
  height: 15.5rem;
  width: 12rem;
  padding: 5px 0 0;
  border: 1px #434040 solid;
  border-radius: 4px;
  background-color: rgba(42, 40, 40, 0.55);
  color: rgba(194,210,255,0.95);

  &-rating {
    position: absolute;
    display: none;
    align-items: center;
    padding: 1px 2px;
    top: 5px;
    background-color: rgba(39,39,39,0.7);
    border-radius: 4px;

    .my-icon {
      color: #ffda02;
    }
  }

  &-image {
    height: 82%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
      margin: 0 auto;
    }
  }

  &-title {
    padding: 5px 8px 0px;
    border-radius: 4px;
    height: 35px;
    display: flex;
    align-items: center;
  }

  &:hover{
    transition: all .5s;
    scale: 1.05;
    .movie-item-rating{
      display: flex;
    }
  }
}

.bigPostsForMovies {
  height: 20rem;
  width: 17rem;
}

.bigTitle{
  margin-top: 7px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

