.dashboard {
  position: relative;
  padding: 30px;
  background-color: #fff;
  color: black;
  text-align: center;
  width: 100%;
  min-height: 643px;
  font-size: 16px;

  &-back {
    left: 10px;
    display: block;
    position: absolute;
    margin: 5px auto auto;
    width: 100px;
    height: 2.2rem;
    border-radius: 5px;
    background-color: rgba(171, 0, 8, 0.59);
    border: 1px #ab0008 solid;
    outline: unset;
    font-size: 16px;
    z-index: 20;

    &:hover {
      transition: all 0.3s;
      background-color: #ab0008;
      border: 1px grey solid;
    }
  }
  table {
    display: block;
    margin: 0 auto;
    width: 700px;
    border-collapse: collapse;

    thead {
      background-color: black;
      color: #fff;
      border-radius: 4px;
      font-size: 17px;
    }

    th,
    td {
      padding: 0.7rem;
      text-align: left;
    }

    tr {
      border: 1px black solid;
      border-radius: 5px;
    }

    button {
      background-color: crimson;
      color: #fff;
      border: 1px black solid;
      padding: 2px 10px;
      border-radius: 4px;
      font-size: 17px;
    }
  }
}
