<div class="form" (submit)="submit()">
  <div class="form-media">
    <video src="./assets/videos/Hacked.mp4" autoplay [muted]="'muted'" loop playsinline></video>
  </div>

  <form [formGroup]="myForm">
    <h2 style="text-align: center">Log in as administrator</h2>

    <div class="form-control">
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email" placeholder="Email" />
      <div
        class="form-control-validate"
        *ngIf="myForm.controls['email'].touched && myForm.controls['email'].invalid"
      >
        <small *ngIf="myForm.controls['email'].errors?.['required']"
          >Enter your email-address</small
        >
        <small *ngIf="myForm.controls['email'].errors?.['email']">Enter correct email</small>
      </div>
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input type="text" id="password" formControlName="password" placeholder="Password" />
      <div
        class="form-control-validate"
        *ngIf="myForm.controls['password'].touched && myForm.controls['password'].invalid"
      >
        <small *ngIf="myForm.controls['password'].errors?.['required']">Enter your password</small>
        <small *ngIf="  myForm.controls['password'].errors?.['minlength']"
          >password must be at least
          {{myForm.get('password')?.errors?.['minlength']?.requiredLength}} characters, current
          length is {{myForm.controls['password'].errors?.['minlength']?.actualLength}}
        </small>
      </div>
    </div>

    <button class="form-submit button" type="submit" [disabled]="myForm.invalid || submitted">
      Send
    </button>
  </form>
</div>
