footer {
  height: 70px;
  background-color: rgba(39, 36, 36, 0.74);
  padding: 3px 10px;
  border-top: 1px rgba(64, 61, 61, 0.95) solid;

  div {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: rgba(215, 215, 209, 0.89);
  }
}
